{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/movies/form.css' %}" />
{% endblock %}
{% block content %}

<div class="page-header">
    {% if movie %}
    <h1>Edit {{ movie.title }}</h1>
    {% else %}
    <h1>Add a Movie</h1>
    {% endif %}
</div>

<form method="POST" class="form-container">
    {% csrf_token %}

    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
    </div>

    <div class="form-group">
        {{ form.genre.label_tag }}
        {{ form.genre }}
        {{ form.genre.errors }}
    </div>

    <div class="form-group">
        {{ form.duration.label_tag }}
        {{ form.duration }}
        {{ form.duration.errors }}
    </div>

    <div class="form-group">
        {{ form.release_year.label_tag }}
        {{ form.release_year }}
        {{ form.release_year.errors }}
    </div>

    <div class="form-group">
        {{ form.rating.label_tag }}
        {{ form.rating }}
        {{ form.rating.errors }}
    </div>

    <div class="form-group">
        {{ form.poster_url.label_tag }}
        {{ form.poster_url }}

    </div>

    <button type="submit" class="btn submit">
        {% if form.instance.pk %}Update Movie{% else %}Add Movie{% endif %}
    </button>
</form>
{% endblock %}