{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/movies/form.css' %}">
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Sign Up</h1>
</div>

{# Show custom error message if passed from the view #}
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}

{# Show Django form validation errors #}
{% if form.errors or form.non_field_errors %}
  <div class="error-messages">
    <ul>
      {{ form.non_field_errors }}
      {% for field in form %}
        {% for error in field.errors %}
          <li><strong>{{ field.label }}:</strong> {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

<form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}
