{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/movies/movie-index.css' %}" />
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>Movie List</h1>
  <p>{{ movies|length }} total</p>
</section>

<section class="card-container">
  {% for movie in movies %}
  <a href="{% url 'movie-detail' movie.pk %}" class="card">
    <div class="card-content">
      <h3 class="card-title">{{ movie.title }}</h3>

      <div class="movie-card">
        {% if movie.poster_url %}
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }} poster" class="poster-img">
        {% else %}
        <img src="{% static 'images/default-poster.jpg' %}" alt="No poster available" class="poster-img">
        {% endif %}
        <div class="overlay">
          <p><strong>{{ movie.get_genre_display }}</strong></p>
          <p>📆 {{ movie.release_year }}</p>
          <p>{{ movie.reviews.count}} reviews</p>
        </div>
      </div>
    </div>
  </a>

  {% empty %}
  <div class="card empty">
    <div class="card-content">
      <p>No movies yet.</p>
      <p><a href="{% url 'home' %}">Back to Home</a></p>
    </div>
  </div>
  {% endfor %}
</section>
<div class="card">
  <p><a href="{% url 'movie-create' %}">Add More Movies + </p>
</div>
{% endblock %}